.header_container{
    width: 100% !important;
    border-bottom: 2px solid #C4C4C4;
    background: var(--solid-fefefe, #FEFEFE);
}
.main_container{
    width: 60%;
    margin-inline: auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left_header{
        display: flex;
        justify-content: space-between;
        // align-items: center;
        width: 23%;
        // height: 50px;
        // background: #ff0000;
        // height: 30px;
        svg{
            // background: grey;
            // height: 30px;
            font-size: 16px;
            color: #202D3B;
            // justify-self: center;
            // text-align: center;
            // // margin-top: -3px;
            margin-right: 3px;
            // // background: red;
        }
        .info_span{
            // height: 100%  !important;
            // background: green;
            color: var(--solid-202-d-3-b, #202D3B);
            // justify-self: center;
            // text-align: center;
            font-family: Fira Sans;
            font-size: 16px;
            font-weight: 700;
            text-transform: capitalize;
        }
    }
    .right_header{
        .search_input{
            position: relative;
            input{
                border-radius: 50px;
                border: 2px solid #2C72DC;
                color: var(--solid-202-d-3-b, #202D3B);
                font-family: Fira Sans;
                font-size: 16px;
                font-weight: 400;
                padding-left: 10px;
                // width: 14vw;
            }
            svg{
                position: absolute;
                top: 6px;
                right: 5px;
                font-size: 20px;
                font-weight: 900;
                color: #202D3B;

            }
        }
    }
}



// res

@include devices(MinLaptop){
    .main_container{
        width: 70%;
        .left_header{
            width: 35%;
        }
    }
}

@include devices(mobile){
    .main_container{
        .left_header{
            svg{
                font-size: 10px !important;
            }
            span{
                font-size: 10px !important;
            }
        }
    }
    input{
        width: 25vw;
    }
}

@include devices(S_mobile){
    .main_container{
        width: 90%;
        .left_header{
            width: 35%;
            svg span{
                font-size: 8px !important;
            }
    
    }
    input{
        width: 30vw;
        font-size: 10px !important;
    }
    svg{
        top: 8px !important;
        right: 8px !important;
        font-size: 15px !important;
    }
  }
}

@include devices (iphone_mobile){
    .main_container{
        width: 92%;
        .left_header{
        }
    }
}

@include devices(XS_mobile){
    .main_container{
        .left_header{
            width: 40% !important;
            svg, span{
                font-size: 8px !important;
            }
    }
    input{
        width: 30vw;
        font-size: 6px !important;
    }
    svg{
        top: 13px !important;
        right: 5px !important;
        font-size: 8px !important;
    }
  }
}
