.PartnerPage_container{
    // width: 100%;
    width: 70%;
    margin: auto;
    margin-bottom: 50px !important;
    // min-height: 70vh;
    display: flex;align-items: center;justify-content: center;flex-direction: column;
    .PartnerPage_title{
        color: #3C30B0;
        // font-family: Open Sans;
        text-align: center;
        font-size: 60px;
        font-weight: 700;
        letter-spacing: 1.8px;
        margin-bottom: 20px;
    }
    .PartnerPage_text{
        width: 70%;
        color: var(--solid-202-d-3-b, #202D3B);
        text-align: center;
        // font-family: Fira Sans;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.18px;
        text-transform: capitalize;
    }
    .PartnerPage_logos{
        width: 100%;
        margin-inline: auto;
        display: flex;
        // align-items: center;
        flex-direction: column;
        .logo_top_section , .logo_bottom_section{
            display: flex;
            width: 100%;
            .logo_container, .logo_container_gray{
                width: 33%;
                padding: 0px 20px;
                height: 160px;
                display: flex;justify-content: center;align-items: center;
                svg{
                    width: 66%;
                }
                img{
                    width: 66%;
                }
            }
        }
        .logo_top_section{
            margin-top: 30px;
        }
        .logo_bottom_section{
            .logo_container_gray{
                background: var(--solid-f-4-f-4-f-4, #F4F4F4);

            }
        }
        
    }
}


//res
@include devices(tablet){
    .logo_container, .logo_container_gray{
        height: 80px !important;
    }
}

@include devices (mobile){
    .PartnerPage_title{
        font-size: 30px !important;
    }
    .PartnerPage_text{
        font-size: 10px !important;
    }
}

@include devices(iphone_mobile){
    .logo_container, .logo_container_gray{
        height: 50px !important;
    }
}