.main_card{
    position: relative;
    width: 100%;
    height: 100%;
    .Card_2{
        width: 100% ;
        height: 100% ;
        .Card_2_Top{
            width: 100%;
            height: 100%;
            display: flex; flex-direction: column;
           img{
            width: 100% ;
            height: 100% ;
          }  
        }
    }
    .Card_1, .Card_1_Down{
        height: 100%;
        z-index: -1;
        position: absolute;
        height: 6.3vw;
        width: 100%;
        border-radius: 1vw;
        cursor: pointer;
        transition: .4s ease-in-out;
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
        background: #4B4D9B;
        display: flex; flex-direction: column;
        justify-content: center;align-items: center;
        h2{
            text-align: center;
            font-weight: 900;
            font-size: 18px;
            color: #000;
            width: 80%;
        }
        .TeamCard_P{
            width: 80%;
            font-weight: 600;
            font-size: 12px;
            color: #fff;
        }
    }
    // .Card_1_Down{
    //     display: flex;flex-direction: column-reverse;
    //     transform: translateY(10vw);
    //     // align-items: end;
    //     // justify-content: end;
    //     height: 5.7vw;
    // }
    .Card_1_Hovered,.Card_1_HoveredDown {
        flex-direction: column !important;
        z-index: 1;
        transform: translateY(-13.5vw);
        height: 13vw;
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
        transition: .4s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Card_1_HoveredDown{
        // transform: translateY(16vw) !important;
    }
}

//res

@include devices(SmallLaptop){
    .Card_1{
        line-height: 10px !important;
        h2{
            font-size: 13px !important;
        }
        .TeamCard_P{
            font-size: 9px !important; 
        }
    }
}

@include devices(tablet){
    .Card_1{
        line-height: 4px !important;
        h2{
            font-size: 11px !important;
            margin-bottom: 8px !important;
        }
        .TeamCard_P{
            width: 90% !important;
            font-size: 8px !important;
        }
    }
}

@include devices(mobile){
    .Card_1{
        line-height: 2px !important;
        h2{
            font-size: 9px !important;
            margin-bottom: 4px !important;
        }
        .TeamCard_P{
            font-size: 7px !important;
        }
    }
}

@include devices(S_mobile){
    .Card_1{
        // height: 6.7vw !important;
        line-height: 0px !important;
        h2{
            font-size: 6px !important;
            margin-bottom: 12px !important;
        }
        .TeamCard_P{
            font-size: 5px !important;
            margin-bottom: 11px !important;
        }
    }
    .Card_1_Hovered{
        height: 12vw !important;
        transform: translateY(-12.3vw) !important;
    }
}

@include devices(iphone_mobile){
    .Card_1{
        h2{
            font-size: 6px !important;
            margin-bottom: 9px !important;
        }
        .TeamCard_P{
            font-size: 4px !important;
            margin-bottom: 10px !important;
        }
    }
}

@include devices(XS_mobile){
    .Card_1{
        h2{
            font-size: 5px !important;
            margin-bottom: 8px !important;
            z-index: 9999 !important;
        }
        .TeamCard_P{
            font-size: 3px !important;
            margin-bottom: 7px !important;
        }
    }
    .Card_1_Hovered{
        height: 12vw !important;
        transform: translateY(-12.3vw) !important;
    }
}