.navbar_container{
    width: 100%;
    background: rgba(254, 254, 254, 0.80);
}
.NavBar_container{
    width: 60%;
    margin-inline: auto;
    display: flex;align-items: center;justify-content: space-between;
    // height: 110px; ?? TZKR 
    .info{
        display: flex;align-items: center;
        // justify-content: center ;
        width: 45%;
        .logo_section{
            display: flex;
            align-items: center;
            width: 65%;
            .SDNLogo{
                width: 80%;
                height: 50px;
            }
            .best_partner{
                width: 100%;
                margin-left: 10px;
                .first{  
                color: var(--solid-202-d-3-b, #202D3B);
                // font-family: Fira Sans;
                font-size: 1.5vw;
                font-weight: 700;
                text-transform: uppercase;
                }
                .second{
                color: var(--solid-202-d-3-b, #202D3B);
                // font-family: Open Sans;
                font-size: 1.1vw;
                font-weight: 600;
                }
            }
        }
        .numder_section{
            width: 40%;
            height: 48px;
            display: flex;flex-direction: column;
            align-items: start;
            justify-content: center;
            border-left: 1px solid #202D3B;
            padding-left: 13px;
            // background: #000;

            .first, .second{
                color: var(--solid-202-d-3-b, #202D3B);
                // font-family: Fira Sans;
                font-size: 1.2vw;
                font-weight: 700;
                text-transform: capitalize;
            }
            .second{
                // font-family: Roboto !important;
                font-size: 1.1vw !important;
                font-weight: 400 !important;
            }
        }
    }

    .links{
        display: flex;justify-content: space-between;align-items: center;
        width: 40%;
        .Lung{
            padding: .2vw .4vw;
            background: #4B4D9B;
            border-radius: 3px;
            border: 2px solid #000;
            cursor: pointer;
            .switch-left{
                color: #fff;
                font-size: 10px;
                font-weight: bold;
                display: flex;justify-content: center;align-items: center;
            }
        }
        span, svg{
            color: var(--solid-202-d-3-b, #202D3B);
            text-align: center;
            // font-family: Fira Sans;
            font-size: .8vw;
            font-weight: 400;
            text-transform: capitalize;
            cursor: pointer;
            svg{
                font-size: 1vw;
                font-weight: 700;
            }
        }
        .first_link{
            font-weight: 700;
        }
    }
}


.ar{
    .links{
        // width: 45%;
        span, svg{
            font-size: .8vw;
            svg{
                font-size: 1vw;
            }
        }
    }
}

//res

@include devices(MinLaptop){
    .NavBar_container{
        .info{
            width: 50%;
        }
    }
    .ar{
        .info{
            width: 40%;
        }
    }
}

@include devices(SmallLaptop){
    .NavBar_container{
        .info{
            width: 55%;
        } 
        .links{
            span , svg{
                font-size: 1.1vw;
            }
        }   
    }
    .ar{
        .info{
            width: 40%;
        }
        .links{
            span, svg{
                font-size: .8vw;
            }
        }
    }
}

@include devices(tablet){
    .NavBar_container{
        flex-direction: column;
        // height: 80px !important;
        .numder_section{
            height: 30px !important;
        }
        width: 100%;

        .links{
            width: 50%;

            span , svg{
                font-size: 1.5vw;
            }
        }
    }
    .ar{
        .links{
            width: 50%;
            span, svg{
                font-size: 1.2vw;
            }
        }
    }
}

// @include devices(S_mobile){
//     .NavBar_container{
//         width: 100%;
//         height: 60px;
//         .info{
//             width:100% !important;
            
//             .numder_section{
//                 .first, .second{
//                     font-size: 1.7vw !important;
//                 }
//             }
//             .best_partner{
//                 margin-left: 4px !important;
//                 .first, .second{
//                     font-size: 1.8vw !important;
//                 }
//             }
//         }
//         .links{
//             width: 50%;
//             .Lung{
//                 .switch-left{
//                     font-size: 6px;
//                 }
//             }
//             span , svg{
//                 font-size: 10px;
//             }
//         }
//     }
//     .ar{
//         .links{
//             width: 50%;
//             span, svg{
//                 font-size: 8px;
//             }
//         }
//     }
// }
// @include devices(iphone_mobile){
//     .NavBar_container{
//         width: 96%;
//         height: 50px !important;
//         .info{
//             width:50% !important;
//             .logo_section{
//                 width: 70%;
//                 // background: #000;
//                 .SDNLogo{
//                     width: 50%;
//                 }
//                 .best_partner{
//                     width: 100% !important;
//                     margin-left: 0px !important;
//                     .first, .second{
//                         font-size: 8px !important;
//                     }
//                 }
//             }
//             .numder_section{
//                 height: 22px !important ;
//                 .first, .second{
//                     font-size: 7px !important;
//                 }
//             }
            
//         }
//         .links{
//             width: 50%;
//             .Lung{
//                 .switch-left{
//                     font-size: 5px;
//                 }
//             }
//             span , svg{
//                 font-size: 8px;
//             }
//         }
//     }
//     .ar{
//         .info{
//             width: 40% !important;
//         }
//         .links{
//             width: 55%;
//             span, svg{
//                 font-size: 7px !important;
//             }
//         }
//     }
// }

// @include devices (XS_mobile){
//     .NavBar_container{
//         height: 45px !important;
//     }
//     .links{
//         width: 50%;
//         .Lung{
//             .switch-left{
//                 font-size: 4px !important;
//             }
//         }
//         span , svg{
//             font-size: 5px !important;
//         }
//     }
// }